/* printing */

.noprint {
    visibility: hidden !important;
    height:0 !important;
    width:0 !important;
}

.print-parent{
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width:100% !important;
}
.print{
    visibility: visible;
}
.print a[href]:after { display:none; }

/*
#section-to-print, #section-to-print * {
    visibility: visible;
}
#section-to-print {
    position: absolute;
    left: 0;
    top: 0;
}

#section-to-print a[href]:after { display:none; }
*/

i{display:none;}

table {
    width:100% !important;
    border:solid #000 !important;
    border-width:1px 0 0 1px !important;
}
th, td {
    border:solid #000 !important;
    border-width:0 1px 1px 0 !important;
}

.print-break{page-break-after:always;}


