<div class="row">
    <div style="margin:0 auto 0 auto;width:340px;display:block;">
        <form id="sa_identification" class="form-horizontal" action="index.php" enctype="multipart/form-data" method="post" role="form">
            <h3>{password_recovery}</h3>
            {errorMessage}
            <div class="form-group">
                <label class="control-label" for="userEmail">{user_email}</label>
                <div class="controls">
                    <input type="text" class="input-medium" placeholder="{your_email}" id="userEmail" name="userEmail" value="{given_email}"/>
                    <input type="hidden" id="action" name="action" value="getPassword"/>
                </div>
            </div>
            <button type="submit" id="sendButton" class="btn btnSubmit">{receive_email}</button>
        </form>
    </div>
</div>
