
        <form id="sa_identification" class="form-horizontal col-xs-offset-0 col-sm-offset-1 col-md-offset-3 col-lg-offset-3 col-lg-6 col-md-6 col-sm-10 col-xs-12" action="index.php" enctype="multipart/form-data" method="post" role="form">
        <div class="row">
            <h1>{please_identify}</h1>
            {errorMessage}
            <div class="form-group">
                <label class="control-label col-lg-4" for="simpleAuthLogin">{username}</label>
                <div class="col-lg-8">
                    <input type="text" class="input form-control" placeholder="{your_username}" id="advancedAuthLogin" name="advancedAuthLogin" />
                </div>
                
            </div>
            <div class="form-group">
                <label class="control-label col-lg-4" for="simpleAuthPassword">{password}</label>
                <div class="col-lg-8">
                    <input type="password" class="input form-control password" placeholder="{your_password}" id="advancedAuthPassword" name="advancedAuthPassword" />
                </div>
                
            </div>
        </div>
        <div class="row">
                <div class="col-xs-offset-0 col-xs-12 col-md-offset-3 col-md-8">
                    <button type="submit" class="btn btnSubmit">{connect}</button> <a href="/mf/index.php?action=getPassword" >Mot de passe oublié ? </a>
                </div>    
        </div>    
        </form>
    


