<div class="row">
    <div style="margin:0 auto 0 auto;width:340px;display:block;">
        <form id="sa_identification" class="form-horizontal" action="index.php" enctype="multipart/form-data" method="post" role="form">
            <h3>{password_recovery}</h3>
            {errorMessage}

            <a href="/mf/index.php" id="sendButton" class="btn btnSubmit">{back_to_login}</button>
        </form>

    </div>
</div>
