<div class="row" >
    <div class="module-title span12"><h2>{module-title}</h2></div>
</div>
<div id="modulePadder">
    <div class="row">
        <div class="module-menu col-lg-2">
            <div class="well" style="max-width: 340px; padding: 8px 0;">
                <ul id="mfNavModule" class="nav nav-list">
                    <li class="nav-header">{portfolio-menu-name}</li>
                    <li class="active"><a href="{subdir}/mf/index.php?module=portfolio&action=list&class=portfolioItem">{list-portfolio}</a></li>
                    <li><a href="{subdir}/mf/index.php?module=portfolio&action=create&class=portfolioItem">{create-portfolio}</a></li>
                    <li class="divider"></li>
                    <li><a href="{subdir}/mf/index.php?module=portfolio&action=list&class=portfolioCategory">{list-categories}</a></li>
                    <li><a href="{subdir}/mf/index.php?module=portfolio&action=create&class=portfolioCategory">{create-category}</a></li>

                </ul>
            </div>

            <script>
                jQuery(document).ready(function() {
                    $('#mfNavModule li').each(function( index ) {
                        var relation = $( this ).attr('rel');
                        if(relation=="{submodule-id}" || relation=="{module-id}"){
                            $( this ).attr('class','active');
                            $( this ).siblings().attr('class','');
                        }
                    });
                });
            </script>

        </div>

        <div class="module-body col-lg-10">
            {portfolioItem}
        </div>
    </div>