<table class="guidons">
<tr class="row1">
    <td class="libelle">
        <strong>{label vz tech_knowledge}</strong><br />
        <img src="/mf_websites/velorizons/templates/img/guidon_{guidons-nbr}.png" /></span>
    <td class="data">   
        {guidons-techniques}
    </td>
</tr>
<tr class="row2">
    <td class="libelle">
        <strong>{label vz land_types}</strong><br />
    </td>
    <td class="data">    
        {guidons-terrains}
    </td>
</tr>
</table>
<br />