<table class="infos">
<tr>
    <td class="image">{info-photo}</td>
    <td>    
        <h3>{info-titre}</h3>
        {info-description}
        <br />
        <a class="more" data-toggle="collapse" data-target="#equi"><span></span>{label vz read_more}</a>
        <div class="suite">
            {info-suite}
        </div>
    </td>
</tr>
</table>
