<table class="roues">
<tr class="row1">
    <td class="libelle">
        <strong>{label vz distance}</strong><br />
        <img src="/mf_websites/velorizons/templates/img/roue_{roues-nbr}.png" /></span>
    </td>
    <td class="data">   
        {roues-distance}
    </td>
</tr>
<tr class="row2">
    <td class="libelle">
        <strong>{label vz you_are}</strong><br />
    </td>
    <td class="data">    
        {roues-vousetes}
    </td>
</tr>
</table>
<br />