/* TYPOGRAPHY */
@import url(//fonts.googleapis.com/css?family=Oswald|Archivo+Narrow);

header{color:rgba(0,0,0,.8);}

body#login{font-size:14px;background-repeat: no-repeat; background-attachment: fixed;background-size: cover;background-position: center;font-family: 'Archivo Narrow', sans-serif;color:#444;padding:30px;background-color:#444;}
body#main,body#installer{font-size:14px;background-repeat: no-repeat; background-attachment:fixed;background-size: cover;background-position: center;font-family: 'Archivo Narrow', sans-serif;color:#444;background-color:#444;}
td,th{vertical-align:top;font-family: 'Archivo Narrow', sans-serif;}
option, textarea, input{font-family: 'Archivo Narrow', sans-serif !important;}

#overview, #backendContainer {z-index:10;}
#backendContainer{margin:30px 150px 40px 150px;background:#7f7f7f;background:rgba(241,241,241,0.7);border-radius:15px;padding-left:0;padding-right:0;box-shadow:0px 0px 3px #7f7f7f;}
/*#uiMessages{margin:30px 150px 40px 150px;}*/

h1,h2,h3,h4,h5,h6{font-family: 'Oswald', sans-serif;font-weight:normal;}
h1{font-size:25px;}
h2{color:#38a9e3;font-size:24px;}
h3{color:#0b3871;font-size:18px;}
a{color:#38a9e3;}
a:hover,a:focus{color:#38a9e3;}
a.microTemplateButton:hover,a.microTemplateButton:focus{color:#fff;}
a.downloadLink:hover{text-decoration:underline;}

textarea{width:530px;}

#backendContainer header{height:120px;padding:5px 20px 20px 20px;border-top-left-radius:15px;border-top-right-radius:15px;}

footer{font-size:13px;color:#444;padding:8px 0 8px 0;}
footer a{color:#297ba5;}
footer p:hover a:hover{color:#297ba5;}
footer p{margin:0 30px 15px 0;}

label{cursor:pointer;}

.bold{font-weight:bold;}
.m10pxr{margin-right:10px;}
.m15pxr{margin-right:15px;}
.m20pxr{margin-right:20px;}

.mf_container{width:90%;margin-right: auto;margin-left: auto;}

#backendTitle{min-width:300px;}
#backendTitle h1{font-size:24px;line-height:24px;margin:20px 0 0 0;}
#backendTitle .version {font-size:13px;}
#backendTitle p{margin:0 0 20px 0;font-size:15px;}

#logo{margin:15px 0 0 0;}
#logo a{float:left;}
#logo p{float:left;margin:30px 0 0 20px;}

#info{padding:33px 0 0 0;}
#disconnectButton{position:relative;margin:0 0 5px 0;float:right;display:block;width:120px;padding:6px 10px 6px 10px;border-radius:3px;text-align:center;box-shadow:-2px 2px 5px #aea799;
color:#fff;background: #38a9e3; /* Old browsers */
background: -moz-linear-gradient(left, #38a9e3 0%, #0a3770 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#38a9e3), color-stop(100%,#0a3770)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #38a9e3 0%,#0a3770 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #38a9e3 0%,#0a3770 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #38a9e3 0%,#0a3770 100%); /* IE10+ */
background: linear-gradient(to right, #38a9e3 0%,#0a3770 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a9e3', endColorstr='#0a3770',GradientType=1 ); /* IE6-9 */
}

#disconnectButton:hover{top:1px;text-decoration:none;}
#disconnectButton:active{top:2px;text-decoration:none;color:#fc8f02;}

#username{margin:10px 10px 0 0;float:right;clear:both;font-size:13px;font-weight:bold;}

#ariane{background:url('../img/trame.png');padding:18px 10px 18px 10px;margin:15px 0 10px 0;}

#rightMenus{float:right;height:40px;border:solid 1 px red;}
#disconnect{float:right;height:40px;margin:10px 10px 0 20px;}
#disconnect a{color:#999;}
#disconnect a:hover{}
#disconnect .glyphicon-off{margin-left:4px;}

#languages{float:right;color:#999;height:40px;margin:8px 10px 0 20px;vertical-align:middle;}
#languages form{margin:0; padding-top:5px;}
#languages label{position:relative;display:inline;}
#languages select{font-size: 12px;height:25px;width:125px;color:black;}
#altLang{padding:0;}
#altLang li{list-style-type:none;}



#ajax-container{background-color:#f9f9f9;}
#ajaxResult{padding:20px;}

#moduleHolder{margin:15px;background:#7f7f7f;background:rgba(241,241,241,0.4);padding: 5px 20px 0 20px;box-shadow:inset 0px 2px 2px #000000;}
#modulePadder{padding:0 20px 10px 20px;}
#navmain.navbar{margin:0 15px 0 15px;padding:0 19px 0 19px;}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222 0%, #282828 100%);
  background-image:         linear-gradient(to bottom, #222 0%, #282828 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.page-header {background: url('../img/trame.png') repeat scroll 0 0 rgba(0, 0, 0, 0);margin: 0 0 10px 0;
    padding: 10px 10px;border-bottom: none;}
.page-header h2{margin-left:20px;}
#pagesRoot{color:#444;}

.module-menu{padding:0 15px 0 0; }
.module-body {background:rgba(241,241,241,1.0);box-shadow:2px 2px 5px #232323;padding:20px 15px 30px 15px;min-height:300px;}
.full{width:99%;}


.recordAction{height:10px;}

.pageActions{float:right;margin:0;padding:0;}


/* Bootstrap customisation*/
.text-error{padding:3px 10px 3px 10px;font-weight:bold;color:#ff0000;text-shadow: none;}
.well{background:#f8f7f6;background:rgba(241,241,241,1);-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius:0px;border:0px;box-shadow:2px 2px 5px #232323;}
.nav-list > li > a, .nav-list .nav-header {text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);}
.nav > li > a:hover {background-color: #d0d0d0;}
.nav-header {color: #4D4D4D;}
.nav-list .divider {background-color: #7f7f7f;border-bottom: 1px solid #b3b3b3;}
.jumbotron {margin:0 10px 0 10px;background: rgba(241, 241, 241, 1);-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;box-shadow:inset 0 0 5px #000;}
.jumbotron h1{font-size:40px;margin-bottom:10px;}
.btn{-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;background-color: #d0d0d0;}
.btn-lg{-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}}
.nav-tabs a{color:#444;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {background-color:#c7dae3;}
.nav-tabs > li > a {border: 1px solid #7f7f7f;border-bottom:none;box-shadow:1px 0 1px #000;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.nav-tabs {border-bottom: 1px solid #7f7f7f;}
.pagination > li > a{cursor:pointer;}
.pagination > li > a, .pagination > li > span{background-color:#fff;}
.pagination > li > a.active{color:#fff;background: #38a9e3;color:#fff;}
.pagination > li > a:hover{background-color:#38a9e3;color:#fff;}
.pagination{margin:0;float:right;}
.printPage{padding:30px;}
.input-micro{width:100px;}
.input-group{padding-left:16px !important;}
.input-group[class*=col-] {padding:inherit;}
.input-group-mf-padding{padding-left: 15px !important;}
.input-group-btn button{padding-top:7px;padding-bottom:7px;}

.nav-list a{font-weight:bold;color:#444;}
.nav-list a:hover{color:#38a9e3;}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {background:rgba(0,0,0,0.1);color:#1f6aa4;}
.btn-primary {background: #38a9e3; /* Old browsers */
background: -moz-linear-gradient(top, #38a9e3 0%, #0a3770 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38a9e3), color-stop(100%,#0a3770)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #38a9e3 0%,#0a3770 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #38a9e3 0%,#0a3770 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #38a9e3 0%,#0a3770 100%); /* IE10+ */
background: linear-gradient(to bottom, #38a9e3 0%,#0a3770 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a9e3', endColorstr='#0a3770',GradientType=0 ); /* IE6-9 */}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background: #66cbff; /* Old browsers */
background: -moz-linear-gradient(top,  #66cbff 0%, #0a3770 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66cbff), color-stop(100%,#0a3770)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #66cbff 0%,#0a3770 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #66cbff 0%,#0a3770 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #66cbff 0%,#0a3770 100%); /* IE10+ */
background: linear-gradient(to bottom,  #66cbff 0%,#0a3770 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66cbff', endColorstr='#0a3770',GradientType=0 ); /* IE6-9 */
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{
color:#fff;text-decoration:none;background-color:#fc8f02;background-image:-moz-linear-gradient(top,#fc8f02,#e48002);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fc8f02),to(#e48002));background-image:-webkit-linear-gradient(top,#fc8f02,#e48002);background-image:-o-linear-gradient(top,#fc8f02,#e48002);background-image:linear-gradient(to bottom,#fc8f02,#e48002);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8f02',endColorstr='#e48002',GradientType=0)}

.table-hover > tbody > tr:hover > td,.table-hover > tbody > tr:hover > th{background-color:#38a9e3;}
.table-hover > tbody > tr:hover > td a,.table-hover > tbody > tr:hover > th a{color:#4D4D4D;}
.table-hover > tbody > tr:hover > td a:hover,.table-hover > tbody > tr:hover > th a:hover{color:#fff;}

.input-group-btn > .btn{font-size:13px;}

.mf-btn-new{margin-bottom:10px;display:inline;}
.recordEditTable{clear:both;}
.recordEditTable th{vertical-align:top !important;}
.recordEditTable a{text-decoration:none;cursor:pointer;}
.recordEditTable th a{text-decoration:none;cursor:pointer;color:#4D4D4D;}
.recordEditTable th a:hover{text-decoration:underline;background:transparent !important;}
.recordEditTable  tbody tr > th{border-right:solid 1px #c3c0bb;background:transparent !important;}
.recordEditTable  tbody tr > th:first-of-type{border-left:solid 1px #c3c0bb;}
.recordEditTableHeaders{background:url('../img/trame.png');}
.printButtonHTML{float:left;}
.btnMarginLeft{margin-left:5px;}
.resultsCount{float:right;text-align:right;padding:4px 10px 0 10px;}

.tab-content{/*overflow:hidden;*/} /*fix for date panels being hidden outside the dialog bounds*/
.tab-pane{padding:15px;}

.form-horizontal .date{padding-left:15px !important;}

.input-group-addon a{cursor:pointer;color:#555;}

.multiselect-col .input-group-addon, .singleselect .input-group-addon{background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;}
.multiselect-col select.multiple{min-width:200px;min-height:100px;}
.multiselect-col select.single{min-width:200px;}
.multiselect-col .input-group-addon{height:33px;width:20px;}

.glyphicon-menu{display:inline-block;margin-right:10px;}


/* install tool */
#installToolLogin{margin:200px auto 0 auto;width:30%;min-width:320px;padding:30px;background-color:#afafaf;box-shadow: 1px 1px 12px #555;}
#installToolLogin .div_submit{margin:0 auto 0 auto;width:100px;}
#installToolLogin #div_password .control-label{width:40%;}
#installToolMenu{margin:30px auto 0 auto;width:95%;padding:30px;background-color:#d9d9d9;box-shadow: 1px 1px 12px #555;}
#installToolContent .installTableThClassName{width:20%;padding:4px 4px 2px 4px;}
#installToolContent .installTableThTableName{width:20%;font-weight:normal;padding:2px 4px 4px 15px;}
#installToolContent .table > tbody > tr > th.installTableThTableName, #installToolContent .table > tbody > tr > td.installTableTdTable{padding-top:2px;padding-bottom:4px;border-top-style:none;}

#installToolContent .installTableTd{width:20%;}
#installToolContent .installPluginLink{font-size:16px;font-weight:bold;}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{background-color:#f0faff;}
.table-hover tbody tr:hover td a:hover, .table-hover tbody tr:hover th a:hover{color:#4D4D4D;}

/* Object forms */
.mf_unhide_hidden{display:block !important;visibility: visible !important;}
.form-group {display:block;vertical-align:top;}
.control-label{font-weight:bold;}
.mfSaveButtons{margin-bottom:30px;}
.mfSaveButtons .btn{margin-right:10px !important;margin-bottom:10px !important;}
fieldset{margin:20px 0 30px 0;}
legend{font-size:20px;font-weight:bold;padding: 0 0 0 20px;width:95%;}
.noedit{display:inline-block;padding:7px 15px 0 0;}
.mandatory_label{color:red;font-size:20px;line-height:13px; font-weight:normal !important;}
.errorMsg{display:block;color:#B94A48;margin-top:6px;line-height:13px;}
.has-error label{color:#B94A48 !important;}
.tabErrorCount{color:#B94A48;}
.formButtons{margin-left:20px;}

.mf_active{color:#009B3A;}
.mf_deleted{color:red;}
.templateContentBlock > label{clear:both;margin-right:75%;}
.left-check{text-align:right;}
.right-check{padding-top:7px;}
@media screen and (max-width: 1200px) {.left-check{text-align:left}}
.clipboardStatus{display: table-cell;    padding: 6px 12px;height: 33px !important;}
.clipboardStatus span{display:inline-block;width:250px;}
.deleteStatus{display: table-cell;    padding: 6px 12px;height: 33px !important;}
.deleteStatus span{display:inline-block;width:250px;}
.textareaSmall{width:250px;height:100px;}
.url_path_segment{margin:0;}
.urlCompute{padding:8px 0 0 10px;}

.table{display: table;}
.tr{display: table-row;}
.td{display: table-cell;width:50%;vertical-align:top;}


.optionDiv{white-space:nowrap;}
.optionDiv label{vertical-align:middle;hyphens: auto;margin-bottom:8px;white-space:normal;font-weight:normal;}


/* Form filters */
#formFilter{display:table;width:100%;}
.tr{display:table-row;}
.td{display:table-cell;}
.col1Holder{float:right;width:50%;}
.col2Holder{float:left;width:50%;}

/*File uploader */
#fileSelect{margin-bottom:10px;}
#uploadForm img{display:inline-block;margin:0 10px 5px 0;}
#uploadForm li{list-style-type:none;}
#addFilesButton{margin:0 0 10px 0;}
#uploadsList .badge{border:0;}
#uploadsList .badge:hover{background-color:#38a9e3;}
#uploadsList .progress{margin:5px 0 5px 0; height:15px;}


/* sortable*/
.sortable {list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortable li {margin-bottom:4px;}
.sortable img{max-width:100px;}
.fileSort{display:block;background:#ccc;height:60px;padding:5px 10px 5px 10px;cursor:pointer;}
.fileSort img{height:50px;margin-right:5px;}
.fileSort i{margin-right:5px;}
.fileSort .glyphicon{margin:13px 3px 0 3px;}
.btn-sort{float:right;vertical-align:middle;display:inline;}
.btn-add-files{margin-bottom:5px;}
.form_uploader{display:none;margin-bottom:5px;}
.plupload_filelist_footer {height: auto !important;}

/* nested sortable*/
.placeholder {outline: 1px dashed #4183C4;}
.mjs-nestedSortable-error {background: #fbe3e4;border-color: transparent;}
ol {margin: 0;padding: 0;padding-left: 20px;list-style-type: none;}
ol.nestedSortableItem, ol.nestedSortableItem ol {margin: 0 0 0 20px;padding: 0;list-style-type: none;}
ol.nestedSortableItem {margin: 0 0;}
.nestedSortableItem li {margin: 5px 0 0 0;padding: 0;}

.nestedSortableItem li div{padding: 6px;margin: 0;background: #ccc;}
.nestedSortableItem li div:hover{background:#38a9e3 !important;}
.nestedSortableItem .glyphicon-move{cursor:move;}

.nestedSortableItem li.mjs-nestedSortable-branch div {background: #ccc;}
.nestedSortableItem li.mjs-nestedSortable-leaf div {background: #ccc;}
li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {border-color: #999;background: #fafafa;}
.disclose {cursor: pointer;width: 10px;display: none;}
.nestedSortableItem li.mjs-nestedSortable-collapsed > ol {display: none;}
.nestedSortableItem li.mjs-nestedSortable-branch > div > .disclose {display: inline-block;}
.nestedSortableItem li.mjs-nestedSortable-collapsed > div > .disclose > span:before {content: '+ ';}
.nestedSortableItem li.mjs-nestedSortable-expanded > div > .disclose > span:before {content: '- ';}

.voidIcon{display:inline-block;width:14px;height:14px;}
.recordAction, .recordAction a{cursor:pointer;color:#444;margin:0 3px 0 3px;}
.recordAction a:hover{color:#fff;}
#fm_notification{margin:0 0 15px 0;display:block;}
#fm_notificationMessage{height:38px;}
#fm_notificationMessage img{margin-right:10px;}
#fm_notification .alert{margin:0;}
.savingNotification{margin:12px;}
.red{color: #d60000;}
.blood{color: #ab0000;}
.green{color: #00981d;}
.orange{color:orange;}
.grey{color:#a8a8a8;}
.darkgrey{color: #636363;}
.yellow{color: #bab206;}
.beige{color:#c8c8c8;}
.blue{color:#0e63ff;}
.purple{color: #9604ff;}

.spacer16{display:inline-block;width:16px;height:16px;}
.center{display:block;margin:auto;}

/* Animate rotation of glyphicons */
.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* microtemplates */
#microtemplates{background:rgba(241,241,241,0.7);}
.microtemplates{background:rgba(241,241,241,0.7);box-shadow:inset 0 0 5px #000;padding:20px;}
.microTemplateButton{display:inline-block;margin:0 0 10px 0;padding:3px 5px 3px 5px;}
.microTemplateButton:hover{background-color:#38A9E3;}
div[id^="microtemplateList_"] img{width:150px;height:150px;display:block;}
div[id^="microtemplateList_"] a{border:solid 1px #cccccc;width:150px;height:150px;overflow:hidden;display:block;}
div[id^="microtemplateList_"] a:hover{border:solid 1px #0088cc;}
.pointer{cursor:pointer;}
#microeditor{display:none;}
#microeditor .container-fluid{padding:30px;}

ul.sortableItem {margin: 0;padding: 0;list-style-type: none;}
.sortableItem li {margin: 5px 0 0 0;padding: 0; }
.sortableItem li div{padding: 6px;margin: 0;background: #b3b3b3;box-shadow:0px 0px 3px #7f7f7f;}
.sortableItem li div:hover{background:#38a9e3 !important;}
.sortableItem img{margin-right:20px;}
.sortableItem .glyphicon{margin:8px 3px 0 3px;}
.sortableItem .glyphicon-move{cursor:move;}


#pageDialog{background:#F9F9F9 none repeat scroll 0% 0%;}
.ui-widget-overlay {
    background: rgba(0, 0, 0, 0) url('../img/fancybox_overlay.png') repeat scroll 0 0;
    opacity: 0.7;
    overflow-x: auto;
    overflow-y: scroll;
    bottom: 0;
    position: fixed;
    right: 0;
}
.ui-dialog{box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);background:#f9f9f9;font-family: 'Archivo Narrow', sans-serif;color:#444;}/*z-index:2000 !important;*/
.modal-dialog{z-index:2000;}
/*.loading{position:relative;width:100%;text-align:center;border:solid 1px red;}
.content{position:relative;width:100%;text-align:center;border:solid 1px blue;}
{padding-top:50px;width:100px;height:150px;margin:10px auto 10px auto;}*/

/* Modules */
.percent90{width:90% !important;box-sizing: border-box;display:inline-block;}
.percent80{width:80% !important;box-sizing: border-box;display:inline-block;}
.percent70{width:70% !important;box-sizing: border-box;display:inline-block;}
.percent60{width:60% !important;box-sizing: border-box;display:inline-block;}
.percent50{width:50% !important;box-sizing: border-box;display:inline-block;}
.percent40{width:40% !important;box-sizing: border-box;display:inline-block;}
.percent30{width:30% !important;box-sizing: border-box;display:inline-block;}
.percent20{width:20% !important;box-sizing: border-box;display:inline-block;}
.percent10{width:10% !important;box-sizing: border-box;display:inline-block;}

/* Bootstrap editor */
.editor {overflow:scroll; max-height:300px}

.inline{display:inline;}
.inline-block{display:inline-block;}
.float-left{float:left;}
.float-right{float:right;}
.buttons{margin-bottom:4px;}
#showRecordEditTablePrint{display:inline-block;width:auto;height:21px;margin:0;padding:0;}
.printSelect{width:120px;}

#history_display{padding:20px 0 20px 0;}


/* RESPONSIVE DESIGN */

@media screen and (max-width: 1300px) {
    #backendContainer{margin:30px 120px 40px 120px;}
    /*#backendContainer, #uiMessages{margin:30px 120px 40px 120px;}*/
    #bgLeft{left:-40px;}
    #bgRight{right:-10px;}

}


@media screen and (max-width: 1100px) {
    #backendContainer{margin:30px 50px 40px 50px;}
    /*#backendContainer, #uiMessages{margin:30px 50px 40px 50px;}*/
    #backendContainer header{background:none;}
    #bgLeft{left:-110px;}
    #bgRight{right:-80px;}
    header{background:none;}
}

@media screen and (max-width: 800px) {
    #backendContainer{margin:30px 20px 40px 20px;}
    /*#backendContainer, #uiMessages{margin:30px 20px 40px 20px;}*/
    #bgLeft{left:-110px;}
    #bgRight{right:-40px;}
     header{background:none;}
}


@media screen and (max-width: 580px) {
    .buttons{margin-bottom:15px;}
}

@media screen and (max-width: 520px) {
    #backendContainer{margin-left: 0px;margin-right: 0px;}
    /*#backendContainer, #uiMessages{margin-left: 0px;margin-right: 0px;}*/
    #bgRight{display:none;}
}

@media (max-width: 480px) {
    #backendContainer{margin-top: 10px;}
    /*#backendContainer, #uiMessages{margin-top: 10px;}*/
    #bgLeft{display:none;}
    .buttons{margin-bottom:45px;}
}

