    <div class="row" >
        <div class="page-header">
            <h2><span class="glyphicon glyphicon-menu glyphicon glyphicon-info-sign" aria-hidden="true"></span>Gestion des infos générales</h2>
        </div>
    </div>
    <div class="row">
            <div class="module-menu col-md-2">
            <!--<div class="well" style="max-width: 340px; padding: 8px 0;">
                <ul class="nav nav-list">
                    <li class="nav-header">Edition</li>
                    <li class="active"><a href="{subdir}/mf/index.php?module=siteInfos&action=list">Editer les infos générales</a></li>
                    <li><a href="{subdir}/mf/index.php?module=siteInfos&action=create">Ajouter une info générale</a></li>

                </ul>
            </div>-->
            </div>

            <div class="module-body col-md-10">
            {siteInfo}
            </div>

    </div>
