<div class="row" >
    <div class="page-header">
        <h2>{page_managment}</h2>
    </div>
</div>

<div id="modulePadder">
    <div class="row">
            <div class="module-menu col-lg-2">
            <div class="well well-sm" style="max-width: 280px;">
                <ul class="nav nav-list">
                    <li class="nav-header">{editing}</li>
                    <li class="active"><a href="{subdir}/mf/index.php?module=pages&action=list">{manage_pages}</a></li>
                    <!--<li><a href="#">Applications</a></li>
                    <li class="nav-header">Another list header</li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Help</a></li>-->
                </ul>
            </div>

    </div>



    <div class="module-body col-lg-10">
    {page}
    </div>

</div>
