<div class="row" >
    <div class="page-header">
        <h2>{contacts_list}</h2>
    </div>
</div>
<div id="modulePadder">
    <div class="row">
        <div class="module-menu col-lg-2">
            <div class="well" style="max-width: 340px; padding: 8px 0;">
                <ul id="mfNavModule" class="nav nav-list">
                    <li class="active"><a href="{subdir}/mf/index.php?module=contacts&action=list">{contacts_listing}</a></li>
                </ul>
            </div>
            <script>
                jQuery(document).ready(function() {
                    $('#mfNavModule li').each(function( index ) {
                        var relation = $( this ).attr('rel');
                        if(relation=="{submodule-id}"){
                            $( this ).attr('class','active');
                            $( this ).siblings().attr('class','');
                        }
                    });
                });
            </script>

        </div>
        <div class="module-body col-lg-10">
            {contact}
        </div>
    </div>
</div>
