<div id="modulePadder">
    <div class="row" >
           <div class="col-lg-12"></div>
    </div>
    <div class="row">
        <div class="jumbotron">
            <h1>{welcome_title}</h1>
            <p>{welcome_intro}</p>
            {welcome_start_btn}

        </div>
    </div>
</div>


