<div id="modulePadder">
    <div class="row" >
           <div class="module-title span12"><h2>Gestion des évènements</h2></div>
    </div>
    <div class="row">
            <div class="module-menu span2">
            <div class="well" style="max-width: 340px; padding: 8px 0;">
                <ul class="nav nav-list">
                    <li class="nav-header">Edition</li>
                    <li class="active"><a href="{subdir}/mf/index.php?module=events&action=list">Editer les évènements</a></li>
                    <li><a href="{subdir}/mf/index.php?module=events&action=create">Ajouter un évènement</a></li>
                    <!--<li><a href="#">Applications</a></li>
                    <li class="nav-header">Another list header</li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Help</a></li>-->
                </ul>
            </div>




    </div>



    <div class="module-body span10">
    {event}
    </div>

</div>
