<div class="zoneRecherche">
    <h2>{searchForm-title}</h2>
    <form id="searchForm" action="{searchForm-URL}" method="GET">
        <input id="searchLocation" value="{searchForm-value}" type="text" name="q" placeholder="{searchForm-placeholder}"><input type="submit" id="searchSubmit"  value="{searchForm-submit}" />

    </form>
</div>