#sa_identification{
    background:#7f7f7f;
    box-shadow: #000 3px 3px 5px;
    border-radius: 10px;
    background:rgba(127,127,127,0.7);
    color:#000;
    padding:20px 30px 20px 30px;
    display:block;
}

#sa_identification h1{font-size:18px;margin: 15px 0 25px 15px;}
#sa_identification h3{font-size:18px;margin: 15px 0 25px 15px;}

#sa_identification .controls{margin-left: 115px;}
#sa_identification .btnSubmit{margin: 0 15px 0 0;}
#sa_identification .text-error{font-size:14px;}