<div class="row" >
    <div class="page-header">
        <h2>{section}{module-name}{submodule-name}</h2>
    </div>
</div>
<div id="modulePadder">
    <div class="row">
            <div class="module-menu col-lg-2">
                <div class="well" style="max-width: 340px; padding: 8px 0;">
                    <ul id="mfNavModule" class="nav nav-list">
                        {local-menu}
                    </ul>
                </div>
                <script>
                    jQuery(document).ready(function() {
                        $('#mfNavModule li').each(function( index ) {
                            var relation = $( this ).attr('rel');
                            if(relation=="{submodule-id}" || relation=="{module-id}"){
                                $( this ).attr('class','active');
                                $( this ).siblings().attr('class','');
                            }
                        });
                    });
                </script>

    </div>

    <div class="module-body col-lg-10">
    {module-body}
    </div>
</div>

