<div class="container-fluid" id=backendContainer>
        <header class="tetiere" id="overview">
            <div class="container-fluid">
                <div class="row">
                        <div id=logo class=pull-left>
                            {logo}
                            <p class="lead">{site_admin} {sitename}</p>
                        </div>
                    <div id=info class=pull-right>
                        <a id="disconnectButton" href="/mf/index.php?authLogout=1">Déconnexion&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-off glyphicon-white"></i></a>
                        <span id="username">{user} : {logged_username}</span>
                    </div>

                </div>

            </div>
        </header>

            <nav id=navmain class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">{toggle_nav}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand">{menu}</span>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {backend-menus}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id=languages class="dropdown">{languages-select}</li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        <div id=moduleHolder>
            {current_module}
        </div>

    <footer>
        <p class=pull-right>Motorisé par MindFlow <span class=version>{version}</p>
    </footer>

</div> <!-- /container -->